body{
    background-color: hsl(30, 54%, 90%);
    font-family: 'Outfit', sans-serif;
}
h1, h2{
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
}
h2{
    color: hsl(14, 45%, 36%); 
}
img{
    display: block;
    margin: auto;
    border-radius: 10px;
}
li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
td{
    border-bottom: 1px solid;
    border-color: hsl(30, 18%, 87%);
}
hr{
    border-top: 1px solid hsl(30, 18%, 87%);
}
.container{
    display: flex;
    justify-content: center;
}
.page{
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 15px;
    max-width: 35%;
}
.prep{
    background-color: hsl(330, 100%, 98%);
    padding: 15px;
    border-radius: 15px;
}
.prep li::marker{
    color: hsl(332, 51%, 32%);
}
.prepTitle{
    font-weight: 600;
    color: hsl(332, 51%, 32%);
}