body{
    background-color: hsl(30, 54%, 90%);
    font-family: 'Outfit', sans-serif;
}
h1, h2{
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
}
h2{
    color: hsl(14, 45%, 36%); 
}
p, li, td{
    color: hsl(30, 10%, 34%);
}
img{
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 100%;
    height: auto;
}
li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
table{
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid hsl(30, 18%, 87%);
    border-color: hsl(30, 18%, 87%);
}
td{
    padding: 10px 15px 10px;
}
hr{
    border-top: 1px solid hsl(30, 18%, 87%);
}
ul, ol, li{
    margin-left: 0;
    padding: 0 10px 10px 23px;
}
.container{
    display: flex;
    justify-content: center;
}
.page{
    background-color: hsl(0, 0%, 100%);
    padding: 35px;
    border-radius: 15px;
    max-width: 650px;
}
.prep{
    background-color: hsl(330, 100%, 98%);
    padding: 15px;
    border-radius: 15px;
}
.prep li::marker{
    color: hsl(332, 51%, 32%);
}
.prepTitle{
    font-weight: 600;
    color: hsl(332, 51%, 32%);
}
.lastRow{
    border-bottom: none;
}